<div class='ListContainer'>
  <div>
      <h1>{{appTitle}}</h1>
      <input 
      type='text'
      name='search'
      [(ngModel)]='searchText'
      (ngModelChange)='searchChanged()'
      />
  </div>
  <div>
      <table *ngIf='songs'>
        <div *ngFor='let song of filteredSongs; let i = index'>
              <app-song 
              [index]="i+1"
              [song]='song'
              [title]="song.heading.title"
              [subtitle]="song.heading.subtitle"  
              [img]="song.images.default"    
              [url]="song.url"
              ></app-song>

        </div>
      </table>
  </div>
</div>
