<div class='ListContainer'>
  <div>
      <h1>{{appTitle}}</h1>
      <input 
      type='text'
      />
  </div>
  <div>
      <table *ngIf='songs'>
        <div *ngFor='let song of songs.chart'>
              <app-song 
              [index]="songs.chart.indexOf(song)+1"
              [title]="song.heading.title"
              [subtitle]="song.heading.subtitle"  
              [img]="song.images.default"    
              [url]="song.url"
              ></app-song>

        </div>
      </table>
  </div>
</div>
